.home__heading {
  color: var(--secondary-color);

  h1 {
    animation: slide-right 1s both;
    margin-bottom: 1rem;
  }
  h2 {
    animation: slide-left 1s both;
    animation-delay: 1s;
  }

  span {
    color: var(--primary-color);
  }
}

.home__image {
  text-align: center;

  img {
    height: 40rem;
    width: auto;
    object-fit: contain;
  }
}

.home__actions {
  text-align: center;
  margin-top: -2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;

  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
}

// 768px
@media screen and (min-width: 48em) {
  .home__heading {
    h1 {
      margin-bottom: 2rem;
    }
  }

  .home__image {
    img {
      height: 48rem;
      width: auto;
      object-fit: contain;
    }
  }

  .home__actions {
    margin-top: 0;

    a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 3px;
      background-color: var(--secondary-color);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.3s 0.2s cubic-bezier(1, 0, 0, 1),
        background-color 0.1s, -webkit-transform 0.2s;
    }
    a:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    a:hover {
      transform: translateY(0);
    }
  }

  // 1024px
  @media screen and (min-width: 64em) {
    .home__image {
      img {
        height: 52rem;
        width: auto;
        object-fit: contain;
      }
    }
    .home__actions {
      display: none;
    }
  }
}
