.navbar {
  width: 100%;
  background-color: var(--secondary-color);

  &-center {
    max-width: 120rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 2.2rem;
  }

  .nav-toggle {
    font-size: 2.2rem;
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s;

    &-animate {
      transform: rotate(90deg);
    }
  }
}

.navbar__links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;

  display: flex;
  flex-direction: column;

  a {
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 1rem 2rem;
  }
}

.show-links {
  height: 22rem;
}

.navbar__socials {
  display: none;
}

// ==== MEDIA QUERY MANAGER ==============================
// 768px
@media screen and (min-width: 48em) {
  .navbar {
    &-center {
      padding: 2rem;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__header {
      padding: 0;
    }

    .nav-toggle {
      display: none;
    }
  }

  .navbar__links {
    height: auto;
    flex-direction: row;
    column-gap: 2rem;

    a {
      font-size: 1.8rem;
      padding: 0.5rem 0;
    }
    .active {
      font-weight: 700;
    }

    a:not(.active)::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 3px;
      background-color: var(--primary-color);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.3s 0.2s cubic-bezier(1, 0, 0, 1),
        background-color 0.1s, -webkit-transform 0.2s;
    }
    a:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    a:hover {
      transform: translateY(0);
    }
  }
}

// 1024px
@media screen and (min-width: 64em) {
  .navbar__socials {
    display: flex;
    column-gap: 1.5rem;

    a {
      color: var(--primary-color);
      font-size: 1.8rem;
    }
  }
}
