.app__wrapper {
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  // 1024px
  @media screen and (min-width: 64em) {
    row-gap: 6rem;
  }
}

// ANIMATIONS
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 1;
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 1;
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
